@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined");
@import url("https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Montserrat:wght@400;500;700&family=Orbitron&family=Prompt:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
}


html {
  /* font-size: 24px; */
  font-family: Dongle, sans-serif;
}


.cp{
  cursor: pointer;
}

.text-white{
  color: var(--white) !important;
}